/*Allgemeines*/
body { 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
  }

/*Bilder*/
#header-image {
    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: 67%;
}

#contact-image {
    width: 70%;
    border-radius: 20%;
    margin-top: 10%;
    margin-bottom: 0%;
}

#date-image {
    width: 100%;
}

/*Icons*/
.icons {
    border-color: #F28A67;
    filter: invert(56%) sepia(4%) saturate(5%) hue-rotate(66deg) brightness(89%) contrast(88%);
    width: 50px;
    margin-bottom: 2%;
    margin-top: 8%;
}

#googleMapsIcon {
    width: 20px;
    margin-right: 10px;
}

/*Überschriften*/
h1 {
    font-size: 2.5em;
    font-family: 'Antic Didone';
    font-weight: bold;
    font-style: normal;
    color: black;
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 5%;
}

h3 {
    font-size: 1.5em;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    color: black;
    text-align: center;
}

/*Spezifische Überschriften*/
#h1Yellow {
    color: #F9D48D;
}

#h1Orange {
    color: #F28A67;
}

#h1Pink {
    color: #FEA7C7;
}

#h3Grey {
    color: #808080;
    margin-bottom: 0%;
}

#h3Black {
    color: #000000;
}

/*Allgemeiner Text*/
p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.9em;
    max-width: 90%;
    font-weight: 450;
    line-height: 130%;
    margin: auto;
}

/*Spezifischer Text*/
#p-beforeDate {
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: italic;
    color: white;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
}

#p-weddingDate {
    font-size: 3.5em;
    font-family: 'Antic Didone';
    font-weight: normal;
    font-style: normal;
    color: white;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -400%);
    text-shadow: 1px 1px 5px #000000;
}

#p-afterDate {
    font-size: 1em;
    font-family: 'Montserrat';
    font-style: normal;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
}

#p-textAfterDate {
    width: 300px;
    max-width: 400px;
    font-size: 0.8em;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
}

#p-location {
    color: #808080;
}

/*Links*/
a {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1em;
    max-width: 90%;
    margin: auto;
    color: #000000;
}

#phoneLink {
    font-size: 1em;
    font-weight: 500;
}

/*Sektionen*/
section {
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
}

/*Spezifische Sektionen*/
#sectionChurch {
    background-color: #E8D9C7;
    padding-bottom: 10%;
}

#sectionLocation {
    margin-top: 10%;
    background-color: #E8D9C7;
    padding-bottom: 10%;
}

#sectionGoodbye {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

/*Div*/
div {
    text-align: center;
}

/*Buttons*/
button {
    width: 200px;
    height: 45px;
    margin: auto;
    text-align: center;
    display: inline-block;
    border-radius: 20%;
}

#buttonRegistration {
    align-items: center;
    background-color: #F28A67;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#buttonLocations {
    align-items: center;
    background-color: #ffffff;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #808080;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#buttonWishlist {
    align-items: center;
    background-color: #FEA7C7;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

/*Formen*/
.rectTimetable {
    width: 350px;
    margin-bottom: 20px;
    float: left;
}